.Body{
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-header-text{
    display: flex;
    flex-direction: column;
    border-bottom: none;
     background-color: rgb(48, 42, 42);
    padding: 4px;
    align-items: flex-start;
    position: relative;
}


.no-results {
  text-align: center;
  color: gray;
  font-style: italic;
  margin-top: 20px;
}


.input-box{
   align-items: center;
   display: flex;
   justify-content: center;
   border-radius: 15px;
   border-color: none;
    border: 2px solid rgb(130, 238, 130);
   padding: 10px 10px;
    background-color: rgb(48, 42, 42);
   gap: 10px;


}

.c-i-i img{
    width: 25px;
    height: 25px;
}

.c-i-i{
    border-radius: 50%;
    padding: 4px 4px;
    justify-content: center;
    align-items: center;
    display: none;
}

.content-inner{
    display: flex;
    flex-direction: row;
   gap: 4px;
   position: relative;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 400;
}



.input-box textarea{
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    border-top: none;
    background-color: rgb(48, 42, 42);
    width: 50vw;
    height: max-content;
}

.input-box img{
    width: 35px;
    height: 35px;
}

.input-box input{
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
     background-color: rgb(48, 42, 42);
}

input:focus,
textarea:focus {
  outline: none;
  border: none;          
   box-shadow: none; 
}


.show-task{
   display: flex;
   align-items: flex-start;
   flex-direction: row;
   margin: 20px;
   flex-wrap: wrap-reverse;
    column-count: 2; 
  column-gap: 16px;
  padding: 16px;
}
.contents{
    display: flex;
    cursor: pointer;
    min-width: 90px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid rgb(41, 44, 46);
    border-radius: 10px;
    break-inside: avoid;
  background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-wrap: wrap;
    max-height: fit-content;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
    padding: 8px;
     box-shadow: 0 4px 12px rgba(247, 62, 62, 0.5);
    margin: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
     background: #5e7f5cad;
      color: #ffffff;
    white-space: pre-wrap;
}
.contents :hover{
    transform: translateY(-4px);
    
  box-shadow: 0 6px 18px rgba(232, 229, 229, 0.15);
}
.contents:hover .c-i-i{
    position: absolute;
    display: flex;
    top: 2px;
    right: 3px;
}